* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to top left, #f05ed0, #721c88);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img.purple {
  position: fixed;
  top: 5%;
  left: 28%;
  width: 15%;
  height: auto;
  z-index: -1;
}
img.purple1 {
  position: fixed;
  top: 20%;
  left: 87%;
  width: 10%;
  height: auto;
  z-index: -1;
}
img.purple2 {
  position: fixed;
  top: 35%;
  left: 10%;
  width: 20%;
  height: auto;
  z-index: -1;
}

img.black {
  position: fixed;
  top: 60%;
  left: 65%;
  width: 10%;
  height: auto;
  z-index: -1;
}
img.blue2 {
  position: fixed;
  top: 80%;
  right: 15%;
  width: 3%;
  height: auto;
  z-index: -1;
}
img.blue {
  position: fixed;
  top: 6%;
  left: 58%;
  width: 3%;
  height: auto;
  z-index: -1;
}
img.gold {
  position: fixed;
  top: 70%;
  left: 40%;
  width: 20%;
  height: auto;
  z-index: -1;
}

.form-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.login-form {
  width: fit-content;
  height: fit-content;
  padding: 6% 5%;
  color: white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.089);
  border: solid 1px rgba(255, 251, 251, 0.342);
  box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

input {
  -webkit-user-select: text;
  z-index:100;
}

 

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  /* background-color: blue; */
}

.welcome {
  font-size: 1.6rem;
  font-weight: 500;
}
._welcome {
  font-size: 1.6rem;
  font-weight: 500;
}

/* .logo {
  height: 5.25rem;
} */

form.login {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  padding: 20px;
  justify-content: center;
  gap: 10px;
}

.login__input {
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  font-family: inherit;
  text-align: left;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.3s;
  background-color: transparent;
}

.login__btn {
  /* width: 90%; */
  padding: 10px 30px;
  background-image: linear-gradient(to top left, #680953, #a519c9);
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  border-radius: 5px;
  color: white;
}
.username-error-message,
.pin-error-message {
  margin-top: 10px;
  text-align: center;
  color: black;
  display: block;
  opacity: 0;
  transition: 3s;
}
.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  color: #777;
}

.bar {
  width: 100%;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
/* MAIN */

.login_information {
  /* margin-left: auto; */
  display: flex;
  justify-content: space-around;
  line-height: 20px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.usernames ul,
.pins ul {
  list-style: none;
  font-size: 10px;
  /* padding-right: 30px; */
}
.app {
  /* background-color: blue; */
  width: 90%;
  position: relative;
  /* max-width: 100rem; */
  /* margin: 4rem auto; */
  /* display: grid; */
  /* grid-template-columns: 4fr 3fr; */
  /* grid-template-rows: auto repeat(3, 15rem) auto; */
  /* gap: 2rem; */

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.current_balance_date {
  /* background-color: rgb(31, 2, 2); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 50%;
  height: 100px;
}

.balance__label {
  font-size: 1.9rem;
  font-weight: 500;
  /* background-color: blue; */
  /* margin-bottom: -0.2rem; */
}

.balance__date {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  /* background-color: navy; */
}

.balance__value {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: white;
}

.transaction_note {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  width: 40%;
  height: 15%;
  opacity: 0;
  border-radius: 10px;
  font-size: x-large;
  color: white;
}
.transaction_note.error {
  opacity: 2;
  background-color: rgba(255, 5, 5, 0.966);
}
.transaction_note.success {
  opacity: 2;
  background-color: rgba(6, 107, 23, 0.925);
}

/* MOVEMENTS */
.movements_summary_operations {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 20%; */
  width: 100%;
  /* background-color: red; */
}

.movements_and_summary {
  width: 55%;
  /* background-color: red; */
  z-index: 1;
  transition: 2s;
  /* position: absolute; */
}
.movements {
  background-color: #fff;
  border-radius: 1rem;
  border-left: solid 1px rgb(0, 225, 255);
  border-top: solid 1px rgb(0, 225, 255);
  height: 80vh;
  overflow: scroll;
  max-width: 100%;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #394bb3, #5dbce1);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  display: flex;
  justify-content: center;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #f6f7fa;
}

.summary__value--out {
  color: #770514;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  width: 50%;
  border-radius: 10px;
  padding: 3rem 4rem;
  margin: 10px;
}

.operations {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */

  /* background-color: red; */
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #fdcb001e);
  height: fit-content;
  width: 80%;
  box-shadow: 2px 4px 4px rgba(20, 5, 5, 0.61);
  backdrop-filter: blur(5px);
}

.operation--loan {
  background-image: linear-gradient(to top left, #394bb3, #5dbce123);
  height: fit-content;
  width: 80%;
  box-shadow: 2px 4px 4px rgba(20, 5, 5, 0.61);
  backdrop-filter: blur(10px);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a59e0, #ff586070);
  height: fit-content;
  width: 80%;
  box-shadow: 2px 4px 4px rgba(20, 5, 5, 0.61);
  backdrop-filter: blur(10px);
}
.log-out{
  padding:10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 2px white;
  background-color: red;
  color: white;
  cursor: pointer;
}

.log-out:hover{
  background-color: rgb(180, 6, 6);
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(247, 247, 247, 0.925);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.966);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 0.3rem;
  /* margin-top: 1.9rem; */
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

@media (max-width: 800px) {
  body {
    /* overflow-x: hidden; */
    width: 100%;
  }

  body {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top left, #f05ed0, #721c88);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  img.purple {
    position: fixed;
    top: 10vh;
    right: 0vw;
    width: 30vh;
    height: auto;
    z-index: -1;
  }
  img.purple1 {
    position: fixed;
    top: 20%;
    left: 87%;
    width: 80px;
    height: auto;
    z-index: -1;
  }
  img.purple2 {
    position: fixed;
    top: 40vh;
    left: 15vh;
    width: 10vh;
    height: auto;
    z-index: -1;
  }

  img.black {
    position: fixed;
    top: 68vh;
    left: 55vh;
    width: 20vh;
    height: auto;
    z-index: -1;
  }
  img.blue2 {
    position: fixed;
    top: 70vh;
    right: 25vh;
    width: 3vh;
    height: auto;
    z-index: -1;
  }
  img.blue {
    position: fixed;
    top: 6%;

    left: 58%;
    width: 30px;
    height: auto;
    z-index: -1;
  }
  img.gold {
    position: fixed;
    top: 60vh;
    left: 20vh;
    width: 30vh;
    height: auto;
    z-index: -1;
  }

  .login-form {
    width: 250px;
    height: 450px;
    color: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.089);
    border: solid 1px rgba(255, 251, 251, 0.342);
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    /* background-color: blue; */
  }

  .welcome {
    font-size: 1.6rem;
    font-weight: 500;
  }
  ._welcome {
    font-size: 1.6rem;
    font-weight: 500;
  }

  /* .logo {
    height: 5.25rem;
  } */

  form.login {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 10px;
  }

  /* .......new editing........... */
  .overlay {
    position: absolute;
    top: 0;
    /* z-index: -1; */
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: #721c8894;
    transition: 1.5s;
  }
  .overlay.active {
    opacity: 1;
    z-index: 5;
    transition: 1.5s;
  }
  nav {
    justify-content: space-between;
    width: 100%;
  }
  .welcome {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .hamburger {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 25px;
    cursor: pointer;
    transition: 0.6s;
    z-index: 10;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .hamburger.active {
    transform: translateY(-2px) rotate(90deg);
    transition: 0.6s;
  }

  .transaction_note {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 60px;
    width: fit-content;
    height: fit-content;
    z-index: 200;
    opacity: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
    color: white;
  }
  .transaction_note.error {
    opacity: 2;
    background-color: rgba(233, 0, 0, 0.966);
  }
  .transaction_note.success {
    opacity: 2;
    background-color: rgba(6, 107, 23, 0.925);
  }
  .app {
    /* background-color: blue; */
    width: 100%;
    /* align-items: center; */
  }

  .movements_and_summary {
    width: 100%;
    margin: auto;
    position: absolute;
  }

  .movements {
    border-radius: 1rem;
    max-width: 100%;
    overflow-y: scroll;
  }

  .balance__value {
    padding-top: 5px;

    font-size: 3rem;
    font-weight: 400;
    color: white;
  }
  .balance {
    display: flex;
    width: 100%;
    align-items: center;
    /* font-size: 1.2rem; */
    justify-content: space-between;
    gap: 10%;
    /* background-color: red; */
  }
  .current_balance_date {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;
    height: 100px;
  }
  .balance__label {
    font-size: 1.5rem;
    font-weight: 500;
    /* background-color: blue; */
    /* margin-bottom: -0.2rem; */
  }

  .balance__date {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    /* background-color: navy; */
  }
  .operations {
    position: absolute;
    /* left: 0; */
    top: 0;
    width: 80%;
    height: fit-content;
    border-radius: 15px;
    border: solid 1px white;
    /* left: 50%; */
    transform: translateX(-100%);
    transition: 2s;
    opacity: 0;
    /* display: none; */
    background-image: linear-gradient(to top left, #f05ed0, #721c88);
    z-index: 5;
  }
  .operations.active {
    width: 80%;
    transition: 2s;
    transform: translateX(-5%);
    opacity: 1;
  }
  
}
